:root {
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue-play: hsl(195, 74%, 62%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green-exercise: hsl(145, 58%, 55%);
    --violet-social: hsl(264, 64%, 52%);
    --soft-orange-self-care: hsl(43, 84%, 65%);
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
}

body {
    margin: auto;
    font-family: 'Rubik', sans-serif;
    background-color: var(--very-dark-blue);
    color: white;
    height: 100vh;
    display: flex;
    font-size: 0.8rem;
}

.item-container {
    width: 77vw;
    height: 36vw;
    margin: auto;
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
}

.avatar-image {
    width: 30%;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 8%;

}

.item-avatar {
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-row-end: 3;
}

.avatar {
    height: 70%;
    background-color: var(--desaturated-blue);
    border-radius: 12px;
    padding: 32px;
    padding-right: 0;
    box-sizing: border-box;
}

.avatar span {
    font-size: 2.5rem;
}

.btn-container {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-left: 20px;
}

button {
    border: none;
    background-color: transparent;
    color: var(--pale-blue);
}

main section{
    background-color: var(--dark-blue);
    border-radius: 12px;
}
.items{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}
.items img{
    position: absolute;
    /*right: 80%;*/

}

.cart img {
    top: 10%;
    right: 12%;
}

.icon {
    top: -3%;
    right: 5%;
}

.cart {
    background-color: var(--dark-blue);
    position: relative;
    height: 80%;
    border-radius: 8px;
    padding: 32px;
    padding-top: 12px;
    box-sizing: border-box;
}

.cart p {
    margin-top: 0;
}

.cart p:nth-child(3){
    font-size: 3.5rem;
    margin-bottom: 4px;
    margin-top: 32px;
}

.cart p:nth-child(2){
    font-size: 1rem;
    font-weight: 400;
}

.avatar p {
    color: var(--pale-blue);
}

span {
    display: block;
    color: var(--pale-blue);
}

p span {
    color: white;
}

.items:nth-child(2){
    background-color: var(--light-red-work);
}
 .items:nth-child(3){
     background-color: var(--soft-blue-play);
 }
.items:nth-child(4){
    background-color: var(--light-red-study);
}
.items:nth-child(5){
    background-color: var(--lime-green-exercise);
}
.items:nth-child(6){
    background-color: var(--violet-social);
}
.items:nth-child(7){
    background-color: var(--soft-orange-self-care);
}

button:hover {
    color: white;
}

.cart:hover {
    background-color: var(--desaturated-blue);
}

